@charset "UTF-8";

.ceo {
  position:relative;
  padding-top:15rem;
  &:before {
    position:absolute;
    top:5rem;
    right:0;
    width:42.7rem;
    height:40.8rem;
    background:url(/assets/images/about/img_ceo.png) no-repeat;
    content:'';
  }
  &__title {
    display:block;
    font-size:5rem;
  }
  &__name {
    display:block;
    margin-top:5rem;
    font-size:2rem;
  }
  &__desc {
    margin-top:20rem;
    line-height:2.5rem;
  }
}
