@charset "UTF-8";

.ceo {
  position:relative;
  padding-top:150px;
  &:before {
    position:absolute;
    top:50px;
    right:0;
    width:427px;
    height:408px;
    background:url(../../assets/images/img_ceo.png) no-repeat;
    content:'';
  }
  &__title {
    display:block;
    font-size:50px;
  }
  &__name {
    display:block;
    margin-top:50px;
    font-size:20px;
  }
  &__desc {
    margin-top:200px;
    line-height:25px;
  }
}