@charset "UTF-8";
@import "./components/_variables";

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#u_skip {
  position: relative;
  z-index: 3000;
}

#u_skip a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border: 1px solid #4ec53d;
  background: #333;
  text-align: center;
}

#u_skip a:active,
#u_skip a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}

#u_skip span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}

.App {
  overflow:hidden;
}

body,
header,
section,
nav,
article,
aside,
footer,
div,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
table,
textarea {
  font-size: 14px;
  line-height:1.2;
  color: $main-color;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
}

textarea {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  border: 0;
  word-break: keep-all;
  word-wrap: break-word;
}

button,
input {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
}

button {
  background-color: transparent;
  cursor:pointer;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse:collapse;
}

address,
em {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor:pointer;
}

a:hover {
  text-decoration: none;
}

iframe {
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}

mark {
  background-color: transparent;
}

i {
  font-style: normal;
}

.p-container {
  max-width:1200px;
  margin:0 auto;
}
