@charset "UTF-8";
@import "../../assets/scss/components/_variables";

.visual {
  position:relative;
  min-height:100vh;
  &__title {
    display:flex;
    flex-direction:column;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:4.8rem;
    z-index:1;
    sup {
      font-size:2.6rem;
      font-weight:400;
    }
  }
  &__video {
    position:absolute;
    width:100%;
    height:100%;
    video {
      display:block;
      min-width:100%;
      min-height:100%;
      object-fit:cover;
    }
  }
}

.subvisual {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  height:100vh;
}
.subvisual .inner {
  display:flex;
  justify-content:center;
  align-items:flex-start;
  flex-direction:row;
  flex-wrap:wrap;
  position:relative;
  min-width:112rem;
  max-width:112rem;
  margin:0 auto;
}

.solution {
  background:url(/assets/images/main/@bg_main1.jpg) no-repeat;
  &__title {
    flex-basis:50%;
    color:#222;
    font-size:3.8rem;
    line-height:5.8rem;
    sup {
      display:block;
      font-size:2.4rem;
      line-height:3.4rem;
    }
  }

  &__intro {
    position:relative;
    top:0;
    right:0;
    flex-basis:50%;
    img {
      display:block;
      max-width:100%;
    }
    figcaption {
      display:block;
      margin-top:1.4rem;
      font-size:1.6rem;
      line-height:2.4rem;
    }
    &-link {
      display:block;
      position:relative;
      font-size:1.5rem;
      font-weight:700;
      text-align:right;
    }
  }

  &__business {
    flex-basis:100%;
    margin-top:5rem;
    h2 {
      font-size:2.6rem;
    }
    .business__list {
      display:flex;
      align-items:flex-start;
      justify-content:flex-end;
      margin-top:1.8rem;
      a {
        width:calc(100% / 8);
        font-size:1.6rem;
        text-align:center;
        &:before {
          display:block;
          width:10rem;
          height:10rem;
          margin:0 auto;
          content:'';
        }
      }
    }
  }
}

.service {
  background:url(/assets/images/main/@bg_service.jpg) no-repeat;
  background-size:cover;
  .slick-slider {
    width:100%;
    color:#fff;
  }
  &__info {
    display:flex !important;
    justify-content:center;
    align-items:flex-start;
    img {
      display:block;
      width:50%;
      border-radius:10px;
    }
    .box {
      margin:8rem 0 0 -3rem;
    }
    .animation-txt {
      display:block;
      overflow:hidden;
    }
    .title {
      display:block;
      transform:translateY(100%);
      font-size:6rem;
      transition:1s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition-delay:.5s;
    }
    .desc {
      display:block;
      transform:translateY(100%);
      margin:5rem 0 0 9rem;
      font-size:1.8rem;
      word-break:keep-all;
      transition:1s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition-delay:1s;
    }
  }
  .slick-active.slick-current .title,
  .slick-active.slick-current .desc {
    transform:translateY(0);
  }
  .box-progressbar {
    position:absolute;
    bottom:5rem;
    left:55.6%;
    width:44%;
  }
  .progressbar {
    display:block;
    width:0;
    height:.3rem;
    background-color:#fff;
    &.animation {
      animation: progressbar 5s;
      width:100%;
    }
  }
  @keyframes progressbar {
    0% {width:0;}
    100% {width:100%;}
  }
}

.recruit {
  background:url(/assets/images/main/@bg_recruit.jpg) no-repeat;
  background-size:cover;
  &__title {
    flex-basis:100%;
    margin-bottom:100px;
    font-size:4.8rem;
  }
  &__list {
    flex-basis:60%;
    table-layout:fixed;
    border-top:.2rem solid #222;
    td {
      padding:1.4rem 2rem;
      border-bottom:.1rem solid #222;
      text-align:center;
      &:last-child {
        text-align:left;
      }
    }
    .date {
      display:block;
      font-size:4.8rem;
    }
    .tag {
      display:inline-block;
      padding:0 1rem;
      border-radius:2.5rem;
      color:#fff;
      &__red {
        background-color:$point-color;
      }
      &__gray {
        background-color:#ddd;
      }
    }
  }
  &__service {
    flex-basis:40%;
    padding-left:4rem;
    box-sizing:border-box;
    >a {
      display:block;
      overflow:hidden;
      position:relative;
      height:20rem;
      padding:5rem 4rem;
      box-sizing:border-box;
      color:#fff;
      .box {
        overflow:hidden;
      }
      dt {
        margin-bottom:1rem;
        font-size:2.4rem;
        font-weight:700;
      }
      &:after {
        position:absolute;
        top:50%;
        right:4rem;
        width:7.2rem;
        height:7.2rem;
        margin-top:-3.6rem;
        transition:all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
        content:'';
      }
      &:hover:after {
        transform:scale(1.2);
      }
      .txt-more {
        display:block;
        overflow:hidden;
        position:absolute;
        bottom:3rem;
        left:4rem;
        em {
          display:block;
          transform:translateY(100%);
          transition:all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
          font-weight:700;
        }
      }
      &:hover .txt-more em {
        transform:translateY(0);
      }
    }
    &-HR {
      background-color:$main-color;
      &:after {
        background:url(https://www.hanmifc.co.kr/images/pc/main/img_reward.png) no-repeat;
      }
    }
    &-CA {
      margin-top:2rem;
      background-color:$point-color;
      &:after {
        background:url(https://www.hanmifc.co.kr/images/pc/main/img_recruit.png) no-repeat center;
      }
    }
  }
}
