@charset "UTF-8";

.subsection {
  max-width:1200px;
  margin:0 auto;
  padding:85px 40px;
  box-sizing:border-box;
  &__title {
    margin-bottom:10px;
    font-size:24px;
  }
  &__desc {
    margin-bottom:50px;
  }
}
