@charset "UTF-8";
@import "../../assets/scss/components/_variables";

.navbar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10;
  background-color:transparent;
  transition:background-color .2s ease-in-out;
  @at-root {
    .App.down .navbar {
      background-color:#fff;
      box-shadow:0 .4rem .8rem 0 rgba(0,0,0,.1);
      .navbar__logo a {
        background-image:url(https://www.hanmifc.co.kr/images/pc/common/logo_on.png);
      }
      a {
        color:$main-color;
      }
    }
  }
  &.hover,&.active {
    background-color:#fff;
    box-shadow:0 .4rem .8rem 0 rgba(0,0,0,.1);
    .navbar__logo a {
      background-image:url(https://www.hanmifc.co.kr/images/pc/common/logo_on.png);
    }
    a {
      color:$main-color;
    }
  }
  &__inner {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    max-width:114rem;
    height:8.2rem;
    margin:0 auto;
  }
  &__logo {
    width:17rem;
    >a {
      display:block;
      height:2.4rem;
      background:url(https://www.hanmifc.co.kr/images/pc/common/logo_on.png) no-repeat;
      text-indent:100%;
      white-space:nowrap;
      overflow:hidden;
    }
  }
  &__menu {
    display:flex;
    justify-content:flex-end;
    flex:1;
  }
  &__item {
    padding:0 3rem;
    &>a {
      display:block;
      position:relative;
      padding:3rem 0;
      color:$main-color;
      font-size:1.8rem;
      &:after,&.active:after {
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        width:0;
        height:.2rem;
        background-color:$point-color;
        transition:width .2s;
        content:'';
      }
      &:hover:after,&.active:after {
        width:100%;
      }
    }
  }
}
