@charset "UTF-8";
@import "../../assets/scss/components/_variables";

.footer {
  background:$main-color;
  .inner {
    position:relative;
    max-width:120rem;
    margin:0 auto;
  }
  &__link {
    border-bottom:.1rem solid #1d1e28;
    >a {
      display:inline-block;
      margin-right:5rem;
      color:#fff;
      line-height:7.6rem;
    }
  }
  &__info {
    padding:4rem 0;
    border-top:.1rem solid #454755;
    >* {
      color:rgba(255,255,255,.2);
    }
    img {
      display:block;
      margin-bottom:4rem;
    }
  }
  &__link-contact {
    position:absolute;
    top:13.8rem;
    right:2rem;
    width:26rem;
    padding:0 2rem;
    box-sizing:border-box;
    color:#fff;
    line-height:4rem;
    &:after {
      position:absolute;
      top:50%;
      right:2rem;
      width:.8rem;
      height:.8rem;
      margin-top:-.4rem;
      border-top:.1rem solid #fff;
      border-right:.1rem solid #fff;
      transform:rotate(45deg);
      content:'';
    }
  }
  &__familysite {
    position:absolute;
    top:1.6rem;
    right:2rem;
    width:26rem;
    line-height:5rem;
    button {
      display:block;
      width:100%;
      padding:0 2rem;
      box-sizing:border-box;
      color:#fff;
      line-height:5rem;
      text-align:left;
      &:after {
        position:absolute;
        top:50%;
        right:2rem;
        width:.8rem;
        height:.8rem;
        margin-top:-.4rem;
        border-top:.1rem solid #fff;
        border-right:.1rem solid #fff;
        transform:rotate(-45deg);
        transition:transform .2s cubic-bezier(0.215, 0.610, 0.355, 1);
        content:'';
      }
    }
    nav {
      display:none;
      position:absolute;
      bottom:5rem;
      left:0;
      right:0;
      background-color:#fff;
      border:.1rem solid $main-color;
      border-bottom:0;
      box-sizing:border-box;
      >a {
        display:block;
        padding:0 2rem;
        &:hover {
          background-color:$main-color;
          color:#fff;
        }
      }
    }
    &.active button {
      border:.1rem solid $main-color;
      border-top:0;
      background-color:#fff;
      color:$main-color;
      font-weight:700;
      &:after {
        margin-top:-.6rem;
        border-color:$main-color;
        transform:rotate(135deg);
      }
    }
    &.active nav {
      display:block;
    }
  }
}
