@charset "UTF-8";

.com-bnr {
  overflow:hidden;
  position:relative;
  top:0;
  height:400px;
  margin-top:82px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  &__inner {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    max-width:1140px;
    margin:-45px auto 0;
  }
  &__title {
    display:block;
    font-size:42px;
    font-weight:400;
    animation:txtAnimation .9s ease-in-out;
  }
  &__desc {
    margin-top:10px;
    font-size:24px;
    animation:txtAnimation 1.1s ease-in-out;
  }
}

@keyframes txtAnimation {
  0% {
    opacity:0;
    transform:translateY(50px);
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}